<div class="main-container">
    <div class="title">
        <div class="left">
            <h2>Contact</h2>
        </div>
        <!-- <div class="right">
            <select #input class="form-control" id="country" (change)='selectCountry(input.value)'>
                <option selected value="global">Global</option>
                <option value="{{country}}" *ngFor='let country of countries'>{{ country }}</option>
            </select>
        </div> -->
    </div>
    
    <div class="contact-container">
        <div class="row">
            <div class="col-md-5">
                <div class="details">
                    <div class="details-item">
                        <div class="location ico">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <p>Mirpur, Dhaka, Bangladesh</p>
                    </div>
                    <div class="details-item">
                        <div class="phone ico">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <p>+880 1521 430 684</p>
                    </div>
                    <div class="details-item">
                        <div class="mail ico">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <p>i.maf.shuvo@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="forms">
                    <div class="form-heading">
                        <h3>
                            Contact with Mail
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" required placeholder="Full Name" />
                        </div>
                        <div class="col-6">
                            <input type="text" required placeholder="Contact No." />
                        </div>
                        <div class="col-12">
                            <input type="text" required placeholder="Email" />
                        </div>
                        <div class="col-12">
                            <input type="text" required placeholder="Subject" />
                        </div>
                        <div class="col-12">
                            <textarea required placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="send-mail-btn">send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>