<div class="main-container">
    <div class="title">
        <div class="left">
            <h2>About Covid-19</h2>
        </div>
        <!-- <div class="right">
            <select #input class="form-control" id="country" (change)='selectCountry(input.value)'>
                <option selected value="global">Global</option>
                <option value="{{country}}" *ngFor='let country of countries'>{{ country }}</option>
            </select>
        </div> -->
    </div>
    
    <div class="container-body mt-4">
        <p>Coronavirus disease 2019 (<b>COVID-19</b>) is a contagious disease caused by severe acute respiratory syndrome coronavirus 2 (<b>SARS-CoV-2</b>). The first known case was identified in Wuhan, China in December 2019. The disease has since spread worldwide, leading to an ongoing pandemic.</p>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-covid">
                    <div class="sub-title sym">
                        <h3>Symptoms</h3>
                    </div>
                    <div class="card-covid-body">
                        <p>The most common symptoms of COVID-19 are</p>
                        <ul>
                            <li> - Fever</li>
                            <li> - Dry cough</li>
                            <li> - Fatigue</li>
                        </ul>
                        <p>Other symptoms that are less common and may affect some patients include:</p>
                        <ul>
                            <li> - Loss of taste or smell</li>
                            <li> - Nasal congestion</li>
                            <li> - Conjunctivitis (also known as red eyes)</li>
                            <li> - Sore throat</li>
                            <li> - Headache</li>
                            <li> - Muscle or joint pain</li>
                            <li> - Different types of skin rash</li>
                            <li> - Nausea or vomiting</li>
                            <li> - Diarrhea</li>
                            <li> - Chills or dizziness</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-covid">
                    <div class="sub-title prev">
                        <h3>Preventions</h3>
                    </div>
                    <div class="card-covid-body">
                        <p class="card-covid-body-heading">Let's be socially responsible, we can do our part to fight COVID-19 together.</p>
                        <br>
                        <p>You can protect yourself and your family, and do your part to prevent the spread of the virus by following these guidelines:</p>
                        <ul>
                            <li> - Disinfect spaces and items that could be exposed to the virus</li>
                            <li> - Self-isolate from others if you feel unwell</li>
                            <li> - Avoid close contact with others (at least 1 metre)</li>
                            <li> - Stay at home as much as you can</li>
                            <li> - Wash your hands regularly</li>
                            <li> - Wear a mask if you're going out</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="source">
            <p><b>Source: </b></p>
            <ul>
                <li>
                    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-covid-19">
                        https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-covid-19
                    </a>
                </li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/COVID-19">
                        https://en.wikipedia.org/wiki/COVID-19
                    </a>
                </li>
                <li>
                    <a href="https://google.com">
                        www.google.com
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>