<div class="body-container">
    <div class="row">
        <div class="col-md-6 col-lg-3 col-12">
            <div class="card card-confirmed text-center">
                <div class="card-body">
                  <h5 class="card-title">{{ totalConfirmed }}</h5>
                </div>
                <div class="card-footer">
                    <p class="card-text">Confirmed</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-12">
            <div class="card card-active text-center">
                <div class="card-body">
                  <h5 class="card-title">{{ totalActive }}</h5>
                </div>
                <div class="card-footer">
                    <p class="card-text">Active</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-12">
            <div class="card card-recovered text-center">
                <div class="card-body">
                  <h5 class="card-title">{{ totalRecovered }}</h5>
                </div>
                <div class="card-footer">
                    <p class="card-text">Recovered</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-12">
            <div class="card card-death text-center">
                <div class="card-body">
                  <h5 class="card-title">{{ totalDeaths }}</h5>
                </div>
                <div class="card-footer">
                    <p class="card-text">Death</p>
                </div>
            </div>
        </div>
    </div>
</div>