<footer class="covid-footer">
    <div class="copyright-text">
        <p>&copy; 2021 | All right reserved <span>Mahfuz Shuvo</span></p>
    </div>
    <div class="social-media-icons">
        <div class="facebook ico">
            <a href="https://www.facebook.com/mahfuz.shuvo.7/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <div class="github ico">
            <a href="https://github.com/MahfuzShuvo">
                <i class="fa fa-code-fork" aria-hidden="true"></i>
            </a>
        </div>
        <div class="linkedin ico">
            <a href="https://www.linkedin.com/in/mahfuz-shuvo-b2b55510b/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>