<div class="main-container">
    <div class="title">
        <div class="left">
            <h2>Covid-19 Outbreak</h2>
            <p>Last Updated on <b>{{ data.lastUpdate | date: 'longDate' }}</b></p>
        </div>
        <div class="right">
            <select #input class="form-control" id="country" (change)='selectCountry(input.value)'>
                <option selected value="global">Global</option>
                <option value="{{country}}" *ngFor='let country of countries'>{{ country }}</option>
            </select>
        </div>
    </div>
    
    <!-- card-component  -->
    <app-widget-card
        [totalConfirmed]='data.confirmed | number'
        [totalActive]='(data.confirmed - (data.recovered + data.deaths)) | number'
        [totalRecovered]='data.recovered | number'
        [totalDeaths]='data.deaths | number'
    ></app-widget-card>

    <!-- google-pie-chart -->
    <div class="chart">
        <div class="chart-wrapper">
            <canvas *ngIf="global" baseChart
                [chartType] = 'lineChartType'
                [datasets] = 'lineChartData'
                [labels] = 'lineChartLabels'
                [colors] = 'lineChartColors'
            >
            </canvas>
            <canvas *ngIf="!global" baseChart
                [chartType] = 'barChartType'
                [datasets] = 'barChartData'
                [labels] = 'barChartLabels'
                [colors] = 'barChartColors'
            >
            </canvas>
        </div>
    </div>

</div>