<div class="main-container">
    <div class="title">
        <div class="left">
            <h2>Country wise Report</h2>
            <p>Last Updated on <b>30 June 2021, 3:01 PM</b></p>
        </div>
        <div class="right">
            <select #input class="form-select" aria-label="Default select example" (change)='selectCountry(input.value)'>
                <option selected disabled>Select Country</option>
                <option value="{{country}}" *ngFor='let country of countries'>{{ country }}</option>
            </select>
            <p>Today 01 July 2021, 5:53 PM</p>
        </div>
    </div>
    
    <app-widget-card
        [totalConfirmed]='totalConfirmed'
        [totalActive]='totalActive'
        [totalRecovered]='totalRecovered'
        [totalDeaths]='totalDeaths'
    ></app-widget-card>

</div>